<div class="login-reg-panel">

  <div class="white-panel">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vitae at, aliquam sapiente commodi voluptate odio tempore repellendus consequatur. Eos maxime a ad laborum necessitatibus expedita, nulla hic veritatis iste ex aperiam nemo molestias illum, voluptatem, esse saepe provident! Fugiat adipisci rem maxime error odio cumque totam id consequuntur nesciunt sed minima facilis optio sapiente et nam, molestias dolores harum beatae corporis repudiandae quia hic. Aliquam, fuga ab tempore perspiciatis quasi totam sunt provident pariatur illo temporibus, sed repellendus mollitia assumenda neque! Eligendi quae mollitia possimus totam iure, voluptas eos quaerat autem suscipit necessitatibus est unde dignissimos debitis quasi molestias!</p>
  </div>
</div>
