
  <ngb-toast class="sticky-top toast"
  *ngIf="mostrar"
  header="Titulo del Toast"

  [autohide]="false"
  (hide)="mostrar=false">
  Ya has completado el máximo de 6 Super Héroes seleccionados.
  </ngb-toast>

<div class="login-reg-panel ">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="white-panel col-md-6 col-sm-8">
        <p class="p-3">Para buscar a tu héroe favorito simplemente busca su nombre o al menos sus letras iniciales para filtrarlo, no olvides pulsar el boton de buscar</p>
      </div>
      <div class="col-md-6 col-sm-8">
        <div class="my-4">
          <img class="w-50" src="https://firebasestorage.googleapis.com/v0/b/marvel-test-26a32.appspot.com/o/marvel%2FMarvel_Logo.svg?alt=media&token=0a7c02b7-6a0e-4c98-8d86-ccad11e33e93" alt="">
        </div>
        <label>
          <input type="text" id="search" required name="search" [(ngModel)]="searchText"  autocomplete="off" (keyup.enter)="updateSearch()">
          <ul>
            <li b>b</li>
            <li u>u</li>
            <li s>s</li>
            <li c>c</li>
            <li a>a</li>
            <li r>r</li>
          </ul>
          </label>
          <div>
            <button class="cybr-btn card-btn mx-2" (click)="updateSearch()">
              Filtrar en base de datos<span aria-hidden></span>
              <span aria-hidden class="cybr-btn__glitch">Filtrar</span>
              <span aria-hidden class="cybr-btn__tag">Kubide</span>
            </button>

          </div>
      </div>

    </div>

  </div>
</div>

<ng-template #cookieWindow let-modal >
  <div class="wrapper" >

    <div class="content">
      <div><p>Los ID de tus heroes son: {{heroTeam}}.</p></div>
      <div>
        <button (click)="listHeros_localStorage()">guardar</button>
        <button (click)="clear()">borrar</button>
      </div>
          <button class="item w-100" style="height:6rem" (click)="windowTeam()">Volver</button>
        </div>
      </div>
</ng-template>

<router-outlet></router-outlet>
<div class="container">
  <a type="button" appToScroll (click)="selectedHerosMenu()" class="btn btn-dark w-100 p-3">
    <b style="font-size: x-large;">MI EQUIPO</b>
  </a>
</div>

